.cardContainer{
    width: 250px;
    display: flex;  
    flex-direction: column;
    background-color:rgb(231, 231, 216);
    border: 1px solid grey;
    border-radius: 15px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    z-index:1;
}
.cardContainer:hover {
    transform: scale(1.05);
    z-index:2;
}
.card {
    width: 300px;
    border: 1px solid #ccc;
    margin: 10px;
  }
  .btn1 {
    background-color: #007bff;
    color: #fff;
    border: none;
    align-items: center;
    width: 2rem;
    border-radius: 8px;
    padding: 5px 5px;
    margin: 0 10px;
    cursor: pointer;
  }
  .btn1:hover {
    background-color: #0056b3; /* Cambiamos el color al hacer hover */
  }
  
  .btn1:active {
    background-color: #004080; /* Cambiamos el color cuando se presiona el botón */
  }
  
  
  .btn1:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  