/* NavBar.module.css */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(231, 231, 216);
  width: 100%;
  height: 6rem;
  margin-bottom: 0.25rem;
  border: 1px solid blue;
  padding: 0 20px; /* Añadido para dar espacio en los lados */
}

.logoutButton {
  /* Estilo para tu botón de cierre de sesión si es necesario */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 5px 20px;
  margin: 10px;
  cursor: pointer;
}

.userDetails {
  display: flex;
  align-items:start;
  font-size: medium;
}

.userDetails h4 {
  margin-right: 10px;
  font-size: medium;
}

.userDetails img {
  width: 40px; /* Ajusta según sea necesario */
  height: 40px; /* Ajusta según sea necesario */
  border-radius: 50%;
  object-fit: cover;
}

.favoritesSection {
  display: flex;
  align-items: center;
}

.favoritesSection h3 {
  margin-right: 10px;
  font-size: x-large;
}

.filterOrderButtons {
  display: flex;
  align-items: center;
}

.filterOrderButtons button {
  margin-right: 20px;
}

.pageNavbutton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 5px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.pageNavbutton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
