.lButton {
    /* Estilo para tu botón de cierre de sesión si es necesario */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.33rem 1.25rem;
    margin: 0.5rem;
    cursor: pointer;
  }
  .lButton:hover {
    background-color: #0056b3; /* Cambiamos el color al hacer hover */
  }